// =======
// Generic
// =======
// Resets
html,
body,
div,
span,
h1,
h2,
h3,
ul,
ol,
p,
a,
img,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

main,
section {
  display: block;
}

ul {
  list-style: none;
}

input,
textarea {
  font-size: inherit;
  font-family: inherit;
}

img {
  max-width: 100%;
}

// Ground-zero styles
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  line-height: 1;
}
