// ========
// Settings
// ========
// Breakpoints
@import 'lib/mappy-bp';
$breakpoints: ( 
  small: 540px,
  medium: 768px,
  large: 1080px,
  xlarge: 1280px
);

// Responsive typography
$min-width: 320;
$max-width: 1280;
$min-font: 16;
$max-font: 24;

:root {
  font-size: #{$min-font}px;
}

@media (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
  :root {
    font-size: calc( #{$min-font}px + (#{$max-font} - #{$min-font}) * ( (100vw - #{$min-width}px) / ( #{$max-width} - #{$min-width})));
  }
}

@media (min-width: #{$max-width}px) {
  :root {
    font-size: #{$max-font}px;
  }
}

// Fonts
@charset 'utf-8';

@font-face {

}

$header-font: Georgia, serif;
$body-font: Helvetica, Arial, sans-serif;

// Colours
$colours: (

);
