// =====
// Tools
// =====
// Mixins
@mixin z-index($layer, $position:relative) {
  position: $position;
  z-index: layer-index($layer);
}

@mixin cf {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

// Functions
@function colour($colour, $map: $colours) {
  @return map-get($colours, $colour);
}

@function layer-index($layer) {
  @return index($layers, $layer);
}

@function text-colour($colour) {
  @if (lightness($colour) > 60) {
    @return #000; // Lighter background, return dark color
  } @else {
    @return #fff; // Darker background, return light color
  }
}
