:root {
  font-size: 16px; }

@media (min-width: 320px) and (max-width: 1280px) {
  :root {
    font-size: calc( 16px + (24 - 16) * ( (100vw - 320px) / ( 1280 - 320))); } }

@media (min-width: 1280px) {
  :root {
    font-size: 24px; } }

@font-face {}html,
body,
div,
span,
h1,
h2,
h3,
ul,
ol,
p,
a,
img,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

main,
section {
  display: block; }

ul {
  list-style: none; }

input,
textarea {
  font-size: inherit;
  font-family: inherit; }

img {
  max-width: 100%; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  height: 100%;
  line-height: 1; }
