<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% if page.css %}
  <body class="{{ page.css }}">
  {% else %}
  <body>
  {% endif %}
    {{ content }}
    {% include footer.html %}
    {% if page.is_post %}
    <script src={{ "/assets/js/scripts.js" | prepend: site.baseurl }}></script>
    {% endif %}
  </body>
</html>
